@import url(https://fonts.googleapis.com/css?family=Nobile:400italic,700italic);

html,body{
  height:100%;
  max-width:100%;
  margin:0;
  overflow: hidden;
}
#space{
  width:100%
}
#w{
  position: relative;
}


.card {
  position: absolute;
  width: 500px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  right: 10%;
  box-shadow: inset 10px 0px 15px 0px rgba(0,0,0,0.1);
  background-color: rgb(230, 240, 230);
}

.card .text-container {
  width: 100%;
  height: 100%;
  margin: auto;
   background: #a27bcc;.
  background: -moz-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a27bcc), color-stop(100%, #6c5299));
  background: -webkit-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: -o-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: -ms-radial-gradient(center, ellipse cover, #a27bcc 0%, #6c5299 100%);
  background: radial-gradient(ellipse at center, #a27bcc 0%, #6c5299 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a27bcc', endColorstr='#6c5299', GradientType=1);
}

.card .text-container #head {
  font-family: 'Nobile', sans-serif;
  font-size: 1.5em;
  margin: 60px auto 60px auto;
}

.card p {
  font-size: 1.1em;
  line-height: 1.4;
  font-family: 'Nobile';
  color: #331717;
  font-style: italic;
  text-align: center;
  margin: 30px auto 0px auto;
}

.card .front { 
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(http://www.mobilmusic.ru/mfile/1a/58/2a/1245523.gif) no-repeat center top;
  z-index: 999;
    

  backface-visibility: hidden;
  background-size: cover;
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
}

.card:hover .front {
  transform: perspective(800px) rotateY(-170deg);
  background-color: rgb(115-50, 163-50, 191-50);
}

.card:hover .back {
  transform: perspective(800px) rotateY(-170deg);
  box-shadow: 7px 0px 5px 0px rgba(0,0,0,0.3), inset 2px 0px 15px 0px rgba(0,0,0,0.1);
  background: url(https://media.giphy.com/media/t9lQCdeH6HEnC/giphy.gif) no-repeat center top;

}

.card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  filter: drop-shadow(2px 2px 4px rgba(0,0,0,.5));
  transform-style: preserve-3d;
  transform-origin: 0% 50%;
  transform: perspective(800px) rotateY(0deg);
  transition: all 0.8s ease-in-out;
  background-color: rgb(230, 240, 230);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
}

.tim{
  background: url(../images/tim.jpg) no-repeat center top;
}
.eva{
  background: url(../images/eva.jpg) no-repeat center top;
}
.nat{
  background: url(../images/nat.jpg) no-repeat center top;
}
.me{
  background: url(../images/alex.jpg) no-repeat center top;
}
.tim, .eva, .nat, .me{
  position: relative;
  height: 700px;
}
.textt{
  position: absolute;
  width: 100%;
  background: black;
  bottom: 0;
  right: 0;
 
}
.textt p{
  color: #fff !important;
  font-family: sans-serif !important;
   padding: 10px;
   margin: 0;
   line-height: 1;
}
.texte{
  position: absolute;
  top: 0;
  background: #c8a2c8;
}
.texte p{
  padding: 10%;
  margin: 0;
  font-family: sans-serif !important;
}
.textm{
  position: absolute;
  bottom: 189px;
  background: white;
  padding: 0;
  width: 300px;
  left: 50%;
  margin-left: -150px !important;
  border-radius: 50px;
  
}
.textm p{
  color: black !important;
  font-family: sans-serif !important;
  font-weight: bolder;
  margin: 0;
  padding: 10px;
  
}
.textn{
   position: absolute;
   background: #800000 !important;
}
.textn p{
   font-family: sans-serif !important;
   color: #FFDAB9 !important;
   margin: 0;
  padding: 20px;
}












.cake {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
}
/* ============================================== BASE
*/
.cake:after {
  background: #ebe3e1;
  border-radius: 100px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 2px;
}
/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.333333333333334px;
  width: 5px;
  height: 16.666666666666668px;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.2222222222222223px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}
/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -3.3333333333333335px;
  width: 6.666666666666667px;
  height: 12.5px;
}
.fuego:nth-child(1) {
  -webkit-animation: fuego 2s infinite;
}
.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s infinite;
}
.fuego:nth-child(3) {
  -webkit-animation: fuego 1s infinite;
}
.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s infinite;
}
.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s infinite;
}
/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-transform: translateY(-20px) scale(0);
  }
  100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-transform: translateY(0) scale(1);
  }
}
/* ============================================== Frosting
*/
.cobertura {
  background: #ece7e3;
  border-radius: 50px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-left: -27.77777777777778px;
  margin-top: -5px;
  width: 55.55555555555556px;
  height: 12.5px;
  z-index: 10;
}
.cobertura:after,
.cobertura:before {
  background: #ece7e3;
  border-radius: 100px;
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
}
.cobertura:after {
  top: 6.666666666666667px;
  right: 14.285714285714286px;
}
.cobertura:before {
  top: 10px;
  right: 9.090909090909092px;
}
/* ============================================== BIZCOCHO
*/
.bizcocho {
  background: #6d3826;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 33.333333333333336px;
}
.bizcocho:after,
.bizcocho:before {
  background: rgba(236, 231, 227, 0.6);
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
}
.bizcocho:after {
  top: 30%;
  left: 0;
}
.bizcocho:before {
  top: 60%;
  left: 0;
}





.hidden {
  opacity:0;
}
.console-container {
  font-size:4em;
  text-align:center;
  height:200px;
  width: 100%;
  display:block;
  position:absolute;
  color:white;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}
.mycontainer{
  position: fixed; 
  left: 0;
  top: 0; 
  right: 0; 
  bottom: 0; 
  background: black;
  z-index: 99999;
}
#text{
  line-height: 200px;
}

@media only screen and (max-width: 768px){
  .console-container{
    font-size: 2em;
  }
  
}



